@using Microsoft.Extensions.Configuration
@using Newtonsoft.Json;
@inject IConfiguration Configuration
@model DeltailModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .selected {
        border-color: #f8a928 !important;
        color: #f8a928;
    }

    .colorProduct, .storageProduct {
        padding: 10px;
        font-size: 14px;
        border-radius: 6px;
        height: 30px !important;
        min-width: auto !important;
        background-color: #fff;
        white-space: nowrap;
        display: flex !important;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 0 5px !important
    }
</style>

<main class="main">
    
    <script>
        function changeOption(className, event) {
            iconActive = document.querySelector("." + className + ".selected");
            if (!iconActive.isEqualNode(event.target)) {
                document.querySelector("." + className + ".selected").classList.remove("selected");
                event.target.classList.add("selected");
            }
            
            UpdateQuantity()
        }
    </script>

    <script>
        function UpdateQuantity() {
            console.log("alo")
            var size = document.querySelector(".storageProduct.selected");
            var color = document.querySelector(".colorProduct.selected");
            var quantityInput = document.querySelector("#qty")
            var quantityRemaining = document.querySelector(".remaining-quantity")
            var ProductPrice = document.querySelector(".product-price.price-detail")
            var InputOption = document.querySelector("input[name='OptionId']")
            var textColor = color.innerText
            var textSize = size.innerText;
            const VND = new Intl.NumberFormat('vi-VN', {
                style: 'currency',
                currency: 'VND',
            });
            var listOption = [
        @foreach (var item in Model.Product.Options)
        {
            var text = $"['{@item.ColorOption}', '{@item.SizeOption}', {@item.Quantity},{@item.id},{@item.OptionPrice}],";
            @Html.Raw(text)
        }
                 ];
            for (var i = 0; i < listOption.length; i++) {
                if (listOption[i][0] == textColor && listOption[i][1] == textSize) {
                    InputOption.value = listOption[i][3];
                    quantityRemaining.innerText = "(Còn " + listOption[i][2] + " sản phẩm )";
                    quantityInput.max = listOption[i][2];
                    ProductPrice.innerText = VND.format(listOption[i][4]);
                    break;
                }
            }
        }
        window.addEventListener('load', function () {
            UpdateQuantity();
        });
    </script>
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                <li class="breadcrumb-item"><a asp-action="Index">Danh sách sản phẩm</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chi tiết sản phẩm</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                @{
                                    string url2 = null;
                                    var lisstImg2 = Model.Product.ProductImg.OrderBy(x => x.SortOrder);
                                    @foreach (var img in lisstImg2)
                                    {
                                        if (img != null)
                                        {
                                            url2 = img.ImagePath;
                                            break;
                                        }
                                    }
                                }
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="@Configuration["BaseAddress"]/user-content/product/@url2" data-zoom-image="@Configuration["BaseAddress"]/user-content/product/@url2" alt="product image">

                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure><!-- End .product-main-image -->

                                <div id="product-zoom-gallery" class="product-image-gallery">

                                    @foreach (var img in lisstImg2)
                                    {
                                        if (img != null)
                                        {
                                            if (img.ImagePath.Equals(url2))
                                            {
                                                <a class="product-gallery-item active" href="#" data-image="@Configuration["BaseAddress"]/user-content/product/@img.ImagePath" data-zoom-image="@Configuration["BaseAddress"]/user-content/product/@img.ImagePath">
                                                    <img src="@Configuration["BaseAddress"]/user-content/product/@img.ImagePath" alt="product side">
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="product-gallery-item" href="#" data-image="@Configuration["BaseAddress"]/user-content/product/@img.ImagePath" data-zoom-image="@Configuration["BaseAddress"]/user-content/product/@img.ImagePath">
                                                    <img src="@Configuration["BaseAddress"]/user-content/product/@img.ImagePath" alt="product cross">
                                                </a>
                                            }
                                        }
                                    }
                                </div><!-- End .product-image-gallery -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">@Model.Product.ProductName</h1><!-- End .product-title -->
                            @* <div class="ratings-container">
                            <div class="ratings">
                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                            </div><!-- End .rating-container --> *@
                            <div class="details-filter-row details-row-size">
                                <label>Thương hiệu:</label>

                                <div class="product-nav product-nav-thumbs">
                                    @Model.Product.BrandName
                                </div><!-- End .product-nav -->
                            </div><!-- End .details-filter-row -->
                            <div class="details-filter-row details-row-size">
                                <label>Danh mục:</label>
                                <div class="product-nav product-nav-thumbs">
                                    @Model.Product.CategoryName
                                </div><!-- End .product-nav -->
                            </div><!-- End .details-filter-row -->
                            <div class="product-price price-detail">
                               
                            </div><!-- End .product-price -->

                            

                            <div class="details-filter-row details-row-size">
                                <label>Màu  sắc:</label>

                                <div class="product-nav product-nav-thumbs">
                                    @{
                                        int j = 0;
                                        var option = Model.Product.Options;
                                        var listCorlor = option.GroupBy(x => x.ColorOption).Select(x => new { Color = x.Key }).ToList();
                                    }
                                    @foreach (var item in listCorlor)
                                    {
                                        if (j == 0)
                                        {
                                            <button class="colorProduct selected" onclick="changeOption('colorProduct',event)">@item.Color</button>
                                        }
                                        else
                                        {
                                            <button class="colorProduct" onclick="changeOption('colorProduct',event)">@item.Color</button>
                                        }
                                        j++;
                                    }
                                </div><!-- End .product-nav -->
                            </div><!-- End .details-filter-row -->

                            <div class="details-filter-row details-row-size">
                                <label>Dung lượng:</label>
                                <div class="product-nav product-nav-thumbs">
                                    @{
                                        int z = 0;
                                        var listSize = option.GroupBy(x => x.SizeOption).Select(x => new { SizeOption = x.Key }).ToList();
                                    }
                                    @foreach (var item2 in listSize)
                                    {
                                        if (z == 0)
                                        {
                                            <button class="storageProduct selected" onclick="changeOption('storageProduct',event)">@item2.SizeOption</button>
                                        }
                                        else
                                        {
                                            <button class="storageProduct" onclick="changeOption('storageProduct',event)">@item2.SizeOption</button>
                                        }
                                        z++;
                                    }
                                </div><!-- End .product-nav -->

                            </div><!-- End .details-filter-row -->
                            <form>
                                <div class="details-filter-row details-row-size">
                                    <label for="qty">Số lượng:</label>
                                    <div class="product-details-quantity ">
                                        <input type="number" id="qty" class="form-control" name="Quantity" value="1" min="1" max="10" step="1" data-decimals="0" required>

                                    </div><!-- End .product-details-quantity -->
                                    <i class="remaining-quantity">  (còn 5 sản phẩm)</i>
                                </div><!-- End .details-filter-row -->

                                <div class="product-details-action">
                                    <input type="hidden" name="OptionId" />
                                    <input type="hidden" name="ProductId" value="@Model.Product.Id" />
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-details-action -->
                            </form>
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Mô tả sản phẩm</a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            @Html.Raw(Model.Product.ProductDescription)
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->

            <h2 class="title text-center mb-4">Các sản phẩm liên quan</h2><!-- End .title text-center -->

            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                 data-owl-options='{
                            "nav": false,
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                @foreach (var item in Model.RelatedProduct)
                {
                    string url1 = null;
                    var lisstImg = item.ProductImg.OrderBy(x => x.SortOrder);

                    @foreach (var img in lisstImg)
                    {
                        if (img != null)
                        {
                            url1 = img.ImagePath;
                            break;
                        }
                    }
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            @if (item.Discount > 0)
                            {
                                <span class="product-label label-circle label-sale" style="
    font-size: 12px;
">-@item.Discount %</span>
                            }
                            <a asp-action="Detail" asp-route-Id="@item.Id">
                                <img style="
    width: 318px;
    height: 318px;
    object-fit: cover;
" src="@Configuration["BaseAddress"]/user-content/product/@url1" alt="Product image" class="product-image">
                            </a>
                            <div class="product-action">
                                <a asp-action="Index" asp-controller="Cart" class="btn-product btn-cart"><span>Thêm vào giỏ hàng</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">@item.CategoryName</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a asp-action="Detail">@item.ProductName</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                @{
                                    var price = Convert.ToDouble(item.Options.FirstOrDefault().OptionPrice);
                                }
                                @if (item.Discount > 0)
                                {
                                    var newPrice = price - (price * (@item.Discount / 100));
                                    <span class="new-price">
                                        @String.Format("{0:n0}", newPrice)
                                        VNĐ
                                    </span>
                                    <span class="old-price">@String.Format("{0:n0}", price )VNĐ</span>
                                }
                                else
                                {
                                    <span class="new-price">
                                        @String.Format("{0:n0}", price)
                                        VNĐ
                                    </span>
                                }
                            </div><!-- End .product-price -->
                            @*     <div class="ratings-container">
                        <div class="ratings">
                        <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                        </div><!-- End .ratings -->
                        <span class="ratings-text">( 2 Reviews )</span>
                        </div><!-- End .rating-container --> *@

                            <div class="product-nav product-nav-thumbs">
                                @foreach (var item1 in lisstImg)
                                {
                                    <a href="#" class="active">
                                        <img src="@Configuration["BaseAddress"]/user-content/product/@item1.ImagePath" alt="product desc">
                                    </a>
                                }
                            </div><!-- End .product-nav -->
                        </div><!-- End .product-body -->
                    </div>

                    <!-- End .product -->
                    <!-- End .product -->
                }



            </div><!-- End .owl-carousel -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
