@using BanThietBiDiDongDATN.Application.Catalog.Brands.Dtos;
@using BanThietBiDiDongDATN.Application.Catalog.Commom;
@using BanThietBiDiDongDATN.Data.entities;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model PageResult<Brand>

@{
    ViewData["Title"] = "Quản lí thương hiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        function displaySelectedImage(event, elementId) {
            const selectedImage = document.getElementById(elementId);
            const fileInput = event.target;

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    selectedImage.src = e.target.result;
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>
    @if (TempData["success"] != null)
    {
        <script type="text/javascript">
            toastr.success('@TempData["success"]', "Thành công", {
                timeOut: 5e3,
                closeButton: !0,
                debug: !1,
                newestOnTop: !0,
                progressBar: !0,
                positionClass: "toast-top-right",
                preventDuplicates: !0,
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: !1,
            })
        </script>
    }
    @if (TempData["failed"] != null)
    {
        <script type="text/javascript">
            toastr.error('@TempData["failed"]', "Thất bại", {
                timeOut: 5e3,
                closeButton: !0,
                debug: !1,
                newestOnTop: !0,
                progressBar: !0,
                positionClass: "toast-top-right",
                preventDuplicates: !0,
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: !1,
            })
        </script>
    }
}

<style>
    tr:first-child, th:first-child {
        width: 5%
    }

    tr:nth-last-child(2), td:nth-last-child(2) {
        width: 10%
    }

    tr:last-child, th:last-child {
        width: 20%
    }

    .media-body {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
</style>
<div class="container-fluid">
    <div class="col-lg-12">

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <h4 class="mt-4">@ViewData["Title"]</h4>
            <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-house"></i> Trang chủ</a></li>
                <li class="breadcrumb-item active text-dark" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex justify-content-between flex-wrap">
                    <div>
                        <partial name="Create" model="new CreateBrandRequest()" />
                       
                    </div>
                    <form asp-action="Index" ajax- class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="input-group ">
                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control rounded " placeholder="Nhập từ khóa cần tìm ....">
                            <div class="input-group-append">
                                <button style="z-index:4;" class="btn rounded-end btn-outline-primary " type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped verticle-middle">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên danh mục</th>
                                <th>Số sản phẩm</th>
                                <th>Ngày tạo</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.TotalRecords > 0)
                            {
                                var i = ((Model.PageIndex - 1) * Model.PageSize) + 1;
                                foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <th>
                                            @i
                                            @{
                                                i++;
                                            }
                                        </th>
                                        <td>
                                            <div class="bootstrap-media">
                                                <div class="media">
                                                    @if (String.IsNullOrEmpty(item.logo))
                                                    {
                                                        <img class="mr-3 img-fluid" style="width: 50px; height: 50px; object-fit: cover;" src="/images/No-Image.jpg" alt="Generic placeholder image">
                                                    }
                                                    else
                                                    {
                                                        <img class="mr-3 img-fluid" style="width: 50px; height: 50px; object-fit: cover;" src="@Configuration["BaseAddress"]/user-content/brand/@item.logo" alt="Generic placeholder image">
                                                    }
                                                    <div class="media-body">
                                                        <h5 class="mt-0"><a> @item.BrandName</a></h5>
                                                        @item.description
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>100</td>
                                        <td>@item.CreateDate.ToShortDateString()</td>
                                        <td class="color-primary">
                                            <span class="d-flex">
                                                <partial name="Edit" model="new UpdateBrandRequest(){id=item.id,BrandName=item.BrandName,description=item.description,ImgLogo=item.logo}" />
                                                @*   Xóa *@
                                                @using (Html.BeginForm("Delete", "Brand", FormMethod.Post))
                                                {
                                                    <div class="bootstrap-modal">
                                                        <!-- Button trigger modal -->
                                                        <div data-toggle="modal" data-target="#basicModal@{
                                                            @item.id
                                                        }">
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                                                <i class="fa fa-close color-danger fa-xl" style="height:16px;width:16px;"></i>
                                                            </a>
                                                        </div>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="basicModal@{
                                                                    @item.id
}">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Xóa thương hiệu</h5>
                                                                        <button type="button" class="close" data-dismiss="modal">
                                                                            <span>&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">Bạn có muốn xóa thương hiệu <strong>@item.BrandName</strong> </div>
                                                                    <input type="hidden" name="id" value="@item.id">
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                                        <button type="submit" class="btn btn-danger">Xóa thương hiệu</button>
                                                                    </div>
                                                                </div>
                                                            </div>Varying modal content
                                                        </div>
                                                    </div>
                                                }
                                            </span>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">Không có trường dữ liệu nào</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    @if (Model.TotalRecords > 0)
                    {
                        var startIndex = ((Model.PageIndex - 1) * Model.PageSize) + 1;
                        var endIndex = startIndex + Model.Items.Count - 1;
                        <div>
                            Từ <strong>@startIndex</strong>  - <strong>@endIndex</strong>   trên <strong>@Model.TotalRecords</strong>
                        </div>
                    }
                    @await Component.InvokeAsync("Pager", Model)
                </div>
            </div>
        </div>
    </div>

</div>