
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BanThietBiDiDongDATN.Application.Catalog.System.Dtos;
@using System.Security.Claims;
@model UpdatePasswordRequest
@section Scripts{
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @if (TempData["success"] != null)
    {
        <script type="text/javascript">
            toastr.success('@TempData["success"]', "Thành công", {
                timeOut: 5e3,
                closeButton: !0,
                debug: !1,
                newestOnTop: !0,
                progressBar: !0,
                positionClass: "toast-top-right",
                preventDuplicates: !0,
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: !1,
            })
        </script>
    }
    @if (TempData["failed"] != null)
    {
        <script type="text/javascript">
            toastr.error('@TempData["failed"]', "Thất bại", {
                timeOut: 5e3,
                closeButton: !0,
                debug: !1,
                newestOnTop: !0,
                progressBar: !0,
                positionClass: "toast-top-right",
                preventDuplicates: !0,
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: !1,
            })
        </script>
    }
}
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<div class="container-fluid">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <h4 class="mt-4">@ViewData["Title"]</h4>
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-house"></i> Trang chủ</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-route-UserId="@User.FindFirst(ClaimTypes.NameIdentifier).Value"> Quản lí tài khoản</a></li>
            <li class="breadcrumb-item active text-dark" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-7 col-xl-8">
            <div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                        </h4>
                        <!-- Nav tabs -->
                        <div class="custom-tab-1">
                            <form asp-action="ChangePassword">
                                <div class="basic-form">
                                    <div
                                        <div class="form-group">
                                             <div asp-validation-summary="All" class="text-danger"></div>
                                            <input type="hidden" name="Id" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" />
                                            <label>Mật khẩu hiện tại</label>
                                            <input type="password" asp-for="CurrentPassword" class="form-control" placeholder="********">
                                        </div>
                                        <div class="form-group">
                                            <label>Mật khẩu mới</label>
                                            <input type="password" asp-for="NewPassword" class="form-control" placeholder=" ********">
                                        </div>
                                        <div class="form-group">
                                            <label>Nhập lại mật khẩu mới</label>
                                            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder=" ********">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                                    </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <i>
                        Mật khẩu là một chuỗi các ký tự quy định như sau:
                        <br />
                        - Không chứa dấu cách trống.
                        <br />
                        - Có độ dài ít nhất là 8 ký tự.
                        <br />
                        - Có ít nhất một ký tự chữ cái viết thường (a-z).
                        <br />
                        - Có ít nhất một ký tự chữ cái viết hoa (A-Z).
                        <br />
                        - Có ít nhất một ký tự đặc biệt (@@#$%^&+=).
                        <br />
                        - Có ít nhất một ký tự số (0-9).
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>

