@model HomeModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .product-title {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
</style>
<main class="main">
    <div class="intro-slider-container mb-5">
        <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
             data-owl-options='{
                        "dots": true,
                        "nav": false,
                        "responsive": {
                            "1200": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
            <div class="intro-slide" style="background-image: url(/Banner3.jpg);"></div>
                <div class="intro-slide" style="background-image: url(/Banner2.webp);"></div>
                <div class="intro-slide" style="background-image: url(/Banner1.jpg);">
                    @* <div class="container intro-content">
                        <div class="row justify-content-end">
                            <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                                <h3 class="intro-subtitle text-third">Giảm giá</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title">@item.Discount %</h1>
                                <h1 class="intro-title">@item.ProductName</h1><!-- End .intro-title -->
                                <div class="intro-price">
                                    <sup class="intro-old-price">@item.Options.FirstOrDefault().OptionPrice</sup>
                                    <span class="text-third">
                                        @{
                                            var newPrice = Convert.ToDouble(item.Options.FirstOrDefault().OptionPrice) - Convert.ToDouble(item.Options.FirstOrDefault().OptionPrice) * item.Discount;
                                        }
                                        @String.Format("{0:n0}", newPrice) VNĐ
                                    </span>
                                </div><!-- End .intro-price -->

                                <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-primary btn-round">
                                    <span>Mua ngay</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .col-lg-11 offset-lg-1 -->
                        </div><!-- End .row -->
                    </div><!-- End .intro-content --> *@
                </div>
                <!-- End .intro-slide -->
            
        </div><!-- End .intro-slider owl-carousel owl-simple -->

        <span class="slider-loader"></span><!-- End .slider-loader -->
    </div><!-- End .intro-slider-container -->

    <div class="container">
        <h2 class="title text-center mb-4">Danh mục phổ biến</h2><!-- End .title text-center -->

        <div class="cat-blocks-container">
            <div class="row">
                <div class="col-6 col-sm-4 col-lg-4">
                    <a asp-action="Index" asp-controller="Product" asp-route-CategoryId="3" class="cat-block">
                        <figure>
                            <span>
                                <img src="/iconSac.jpg" style="width:54px; height:86px; object-fit:cover" alt="Category image">
                            </span>
                        </figure>

                        <h3 class="cat-block-title">Sạc</h3><!-- End .cat-block-title -->
                    </a>
                </div><!-- End .col-sm-4 col-lg-2 -->

                <div class="col-6 col-sm-4 col-lg-4">
                    <a asp-action="Index" asp-controller="Product" asp-route-CategoryId="1" class="cat-block">
                        <figure>
                            <span>
                                <img src="/clientApp/assets/images/demos/demo-4/cats/3.png" alt="Category image">
                            </span>
                        </figure>

                        <h3 class="cat-block-title">Điện thoại</h3><!-- End .cat-block-title -->
                    </a>
                </div><!-- End .col-sm-4 col-lg-2 -->

                <div class="col-6 col-sm-4 col-lg-4">
                    <a asp-action="Index" asp-controller="Product" asp-route-CategoryId="2"  class="cat-block">
                        <figure>
                            <span>
                                <img src="/iconTaiNghe.jpeg" style="width:54px; height:86px; object-fit:cover" alt="Category image">
                            </span>
                        </figure>

                        <h3 class="cat-block-title">Tai nghe</h3><!-- End .cat-block-title -->
                    </a>
                </div><!-- End .col-sm-4 col-lg-2 -->
            </div><!-- End .row -->
        </div><!-- End .cat-blocks-container -->
    </div><!-- End .container -->

    <div class="mb-4"></div><!-- End .mb-4 -->
    <div class="mb-3"></div><!-- End .mb-5 -->

    <div class="container new-arrivals">
        <div class="heading heading-flex mb-3">
            <div class="heading-left">
                <h2 class="title">Sản phẩm mới</h2><!-- End .title -->
            </div><!-- End .heading-left -->

            <div class="heading-right">
                <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="new-all-link" data-toggle="tab" href="#new-all-tab" role="tab" aria-controls="new-all-tab" aria-selected="true">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="new-tv-link" data-toggle="tab" href="#new-tv-tab" role="tab" aria-controls="new-tv-tab" aria-selected="false">Điện thoại</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="new-computers-link" data-toggle="tab" href="#new-computers-tab" role="tab" aria-controls="new-computers-tab" aria-selected="false">Sạc</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="new-phones-link" data-toggle="tab" href="#new-phones-tab" role="tab" aria-controls="new-phones-tab" aria-selected="false">Tai nghe </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="new-phones-link" data-toggle="tab" href="#new-watches-tab" role="tab" aria-controls="new-watches-tab" aria-selected="false">Khác </a>
                    </li>
                </ul>
            </div><!-- End .heading-right -->
        </div><!-- End .heading -->

        <div class="tab-content tab-content-carousel just-action-icons-sm">
            <div class="tab-pane p-0 fade show active" id="new-all-tab" role="tabpanel" aria-labelledby="new-all-link">
                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                     data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                    @foreach (var item in Model.NewProduct)
                    {
                        string url1 = null;
                        var lisstImg = item.ProductImg.OrderBy(x => x.SortOrder);

                        @foreach (var img in lisstImg)
                        {
                            if (img != null)
                            {
                                url1 = img.ImagePath;
                                break;
                            }
                        }
                        <div class="product product-2">
                            <figure class="product-media">
                                @if (item.Discount > 0)
                                {
                                    <span class="product-label label-circle label-sale" style="
    font-size: 12px;
">-@item.Discount %</span>
                                }
                                <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">
                                    <img style="
    width: 215px;
    height: 215px;
    object-fit: cover;
" src="@Configuration["BaseAddress"]/user-content/product/@url1" alt="Product image" class="product-image">
                                </a>
                                <div class="product-action">
                                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-ProductId="@item.Id" asp-route-Quantity="1" asp-route-OptionId="@item.Options.FirstOrDefault().id
" class="btn-product btn-cart" title="Add to cart" style="    font-size: 15px;">Thêm vào giỏ hàng</a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">@item.CategoryName</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">@item.ProductName </a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    @{
                                        var price = Convert.ToDouble(item.Options.FirstOrDefault().OptionPrice);
                                    }
                                    @if (item.Discount > 0)
                                    {
                                        var newPrice = price - (price * (@item.Discount / 100));
                                        <span class="new-price">
                                            @String.Format("{0:n0}", newPrice)
                                            VNĐ
                                        </span>
                                        <span class="old-price">@String.Format("{0:n0}", price )VNĐ</span>
                                    }
                                    else
                                    {
                                        <span class="new-price">
                                            @String.Format("{0:n0}", price)
                                            VNĐ
                                        </span>
                                    }
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div>

                        <!-- End .product -->
                    }
                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane p-0 fade" id="new-tv-tab" role="tabpanel" aria-labelledby="new-tv-link">
                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                     data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                    @foreach (var item in Model.NewProductPhone)
                    {
                        string url1 = null;
                        var lisstImg = item.ProductImg.OrderBy(x => x.SortOrder);

                        @foreach (var img in lisstImg)
                        {
                            if (img != null)
                            {
                                url1 = img.ImagePath;
                                break;
                            }
                        }
                        <div class="product product-2">
                            <figure class="product-media">
                                @if (item.Discount > 0)
                                {
                                    <span class="product-label label-circle label-sale" style="
    font-size: 12px;
">-@item.Discount %</span>
                                }
                                <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">
                                    <img style="
    width: 215px;
    height: 215px;
    object-fit: cover;
" src="@Configuration["BaseAddress"]/user-content/product/@url1" alt="Product image" class="product-image">
                                </a>
                                <div class="product-action">
                                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-ProductId="@item.Id" asp-route-Quantity="1" asp-route-OptionId="@item.Options.FirstOrDefault().id
" class="btn-product btn-cart" title="Add to cart" style="    font-size: 15px;">Thêm vào giỏ hàng</a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">@item.CategoryName</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">@item.ProductName </a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    @{
                                        var price = Convert.ToDouble(item.Options.FirstOrDefault().OptionPrice);
                                    }
                                    @if (item.Discount > 0)
                                    {
                                        var newPrice = price - (price * (@item.Discount / 100));
                                        <span class="new-price">
                                            @String.Format("{0:n0}", newPrice)
                                            VNĐ
                                        </span>
                                        <span class="old-price">@String.Format("{0:n0}", price )VNĐ</span>
                                    }
                                    else
                                    {
                                        <span class="new-price">
                                            @String.Format("{0:n0}", price)
                                            VNĐ
                                        </span>
                                    }
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div>

                        <!-- End .product -->
                    }
                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane p-0 fade" id="new-computers-tab" role="tabpanel" aria-labelledby="new-computers-tab">
                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                     data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                    @foreach (var item in Model.NewProductCharge)
                    {
                        string url1 = null;
                        var lisstImg = item.ProductImg.OrderBy(x => x.SortOrder);

                        @foreach (var img in lisstImg)
                        {
                            if (img != null)
                            {
                                url1 = img.ImagePath;
                                break;
                            }
                        }
                        <div class="product product-2">
                            <figure class="product-media">
                                @if (item.Discount > 0)
                                {
                                    <span class="product-label label-circle label-sale" style="
    font-size: 12px;
">-@item.Discount %</span>
                                }
                                <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">
                                    <img style="
    width: 215px;
    height: 215px;
    object-fit: cover;
" src="@Configuration["BaseAddress"]/user-content/product/@url1" alt="Product image" class="product-image">
                                </a>
                                <div class="product-action">
                                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-ProductId="@item.Id" asp-route-Quantity="1" asp-route-OptionId="@item.Options.FirstOrDefault().id
" class="btn-product btn-cart" title="Add to cart" style="    font-size: 15px;">Thêm vào giỏ hàng</a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">@item.CategoryName</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">@item.ProductName </a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    @{
                                        var price = Convert.ToDouble(item.Options.FirstOrDefault().OptionPrice);
                                    }
                                    @if (item.Discount > 0)
                                    {
                                        var newPrice = price - (price * (@item.Discount / 100));
                                        <span class="new-price">
                                            @String.Format("{0:n0}", newPrice)
                                            VNĐ
                                        </span>
                                        <span class="old-price">@String.Format("{0:n0}", price )VNĐ</span>
                                    }
                                    else
                                    {
                                        <span class="new-price">
                                            @String.Format("{0:n0}", price)
                                            VNĐ
                                        </span>
                                    }
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div>

                        <!-- End .product -->
                    }
                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane p-0 fade" id="new-phones-tab" role="tabpanel" aria-labelledby="new-phones-link">
                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                     data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                    @foreach (var item in Model.NewProductHeadPhone)
                    {
                        string url1 = null;
                        var lisstImg = item.ProductImg.OrderBy(x => x.SortOrder);

                        @foreach (var img in lisstImg)
                        {
                            if (img != null)
                            {
                                url1 = img.ImagePath;
                                break;
                            }
                        }
                        <div class="product product-2">
                            <figure class="product-media">
                                @if (item.Discount > 0)
                                {
                                    <span class="product-label label-circle label-sale" style="
    font-size: 12px;
">-@item.Discount %</span>
                                }
                                <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">
                                    <img style="
    width: 215px;
    height: 215px;
    object-fit: cover;
" src="@Configuration["BaseAddress"]/user-content/product/@url1" alt="Product image" class="product-image">
                                </a>
                                <div class="product-action">
                                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-ProductId="@item.Id" asp-route-Quantity="1" asp-route-OptionId="@item.Options.FirstOrDefault().id
" class="btn-product btn-cart" title="Add to cart" style="    font-size: 15px;">Thêm vào giỏ hàng</a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">@item.CategoryName</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">@item.ProductName </a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    @{
                                        var price = Convert.ToDouble(item.Options.FirstOrDefault().OptionPrice);
                                    }
                                    @if (item.Discount > 0)
                                    {
                                        var newPrice = price - (price * (@item.Discount / 100));
                                        <span class="new-price">
                                            @String.Format("{0:n0}", newPrice)
                                            VNĐ
                                        </span>
                                        <span class="old-price">@String.Format("{0:n0}", price )VNĐ</span>
                                    }
                                    else
                                    {
                                        <span class="new-price">
                                            @String.Format("{0:n0}", price)
                                            VNĐ
                                        </span>
                                    }
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div>

                        <!-- End .product -->
                    }
                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane p-0 fade" id="new-watches-tab" role="tabpanel" aria-labelledby="new-watches-link">
                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                     data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                    @foreach (var item in Model.NewOtherProduuct)
                    {
                        string url1 = null;
                        var lisstImg = item.ProductImg.OrderBy(x => x.SortOrder);

                        @foreach (var img in lisstImg)
                        {
                            if (img != null)
                            {
                                url1 = img.ImagePath;
                                break;
                            }
                        }
                        <div class="product product-2">
                            <figure class="product-media">
                                @if (item.Discount > 0)
                                {
                                    <span class="product-label label-circle label-sale" style="
    font-size: 12px;
">-@item.Discount %</span>
                                }
                                <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">
                                    <img style="
    width: 215px;
    height: 215px;
    object-fit: cover;
" src="@Configuration["BaseAddress"]/user-content/product/@url1" alt="Product image" class="product-image">
                                </a>
                                <div class="product-action">
                                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-ProductId="@item.Id" asp-route-Quantity="1" asp-route-OptionId="@item.Options.FirstOrDefault().id
" class="btn-product btn-cart" title="Add to cart" style="    font-size: 15px;">Thêm vào giỏ hàng</a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">@item.CategoryName</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">@item.ProductName </a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    @{
                                        var price = Convert.ToDouble(item.Options.FirstOrDefault().OptionPrice);
                                    }
                                    @if (item.Discount > 0)
                                    {
                                        var newPrice = price - (price * (@item.Discount / 100));
                                        <span class="new-price">
                                            @String.Format("{0:n0}", newPrice)
                                            VNĐ
                                        </span>
                                        <span class="old-price">@String.Format("{0:n0}", price )VNĐ</span>
                                    }
                                    else
                                    {
                                        <span class="new-price">
                                            @String.Format("{0:n0}", price)
                                            VNĐ
                                        </span>
                                    }
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div>

                        <!-- End .product -->
                    }
                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->
        </div>
    </div><!-- .End .tab-pane -->
    </div><!-- End .tab-content -->
    </div><!-- End .container -->

    <div class="mb-6"></div><!-- End .mb-6 -->

    <div class="bg-light pt-5 pb-6">
        <div class="container trending-products">
            <div class="heading heading-flex mb-3">
                <div class="heading-left">
                    <h2 class="title">Sản phẩm bán chạy </h2><!-- End .title -->
                </div><!-- End .heading-left -->

                <div class="heading-right">
                </div><!-- End .heading-right -->
            </div><!-- End .heading -->

            <div class="row">
                <div class="col-xl-4-5col" style="max-width:100%;">
                    <div class="tab-content tab-content-carousel just-action-icons-sm">
                        <div class="tab-pane p-0 fade show active" id="trending-top-tab" role="tabpanel" aria-labelledby="trending-top-link">
                            <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                 data-owl-options='{
                                            "nav": true,
                                            "dots": false,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":2
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                }
                                            }
                                        }'>
                                @foreach (var item in Model.TopSaleProduct)
                                {
                                    string url1 = null;
                                    var lisstImg = item.ProductImg.OrderBy(x => x.SortOrder);

                                    @foreach (var img in lisstImg)
                                    {
                                        if (img != null)
                                        {
                                            url1 = img.ImagePath;
                                            break;
                                        }
                                    }
                                    <div class="product product-2">
                                        <figure class="product-media">
                                            @if (item.Discount > 0)
                                            {
                                                <span class="product-label label-circle label-sale" style="
    font-size: 12px;
">-@item.Discount %</span>
                                            }
                                            <a asp-action ="Detail" asp-controller="Product" asp-route-id="@item.Id">
                                                <img style="
    width: 215px;
    height: 215px;
    object-fit: cover;
" src="@Configuration["BaseAddress"]/user-content/product/@url1" alt="Product image" class="product-image">
                                            </a>
                                            <div class="product-action">
                                                <a asp-action="AddToCart" asp-controller="Cart" asp-route-ProductId="@item.Id" asp-route-Quantity="1" asp-route-OptionId="@item.Options.FirstOrDefault().id
" class="btn-product btn-cart" title="Add to cart" style="    font-size: 15px;">Thêm vào giỏ hàng</a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">@item.CategoryName</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html">@item.ProductName </a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                @{
                                                    var price = Convert.ToDouble(item.Options.FirstOrDefault().OptionPrice);
                                                }
                                                @if (item.Discount > 0)
                                                {
                                                    var newPrice = price - (price * (@item.Discount / 100));
                                                    <span class="new-price">
                                                        @String.Format("{0:n0}", newPrice)
                                                        VNĐ
                                                    </span>
                                                    <span class="old-price">@String.Format("{0:n0}", price )VNĐ</span>
                                                }
                                                else
                                                {
                                                    <span class="new-price">
                                                        @String.Format("{0:n0}", price)
                                                        VNĐ
                                                    </span>
                                                }
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div>

                                    <!-- End .product -->
                                }
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->

                    </div><!-- End .tab-content -->
                </div><!-- End .col-xl-4-5col -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .bg-light pt-5 pb-6 -->

    <div class="mb-5"></div><!-- End .mb-5 -->

    <div class="container for-you">
        <div class="heading heading-flex mb-3">
            <div class="heading-left">
                <h2 class="title">Gợi ý cho bạn</h2><!-- End .title -->
            </div><!-- End .heading-left -->

            <div class="heading-right">
                <a href="#" class="title-link">Xem tất cả sản phẩm<i class="icon-long-arrow-right"></i></a>
            </div><!-- End .heading-right -->
        </div><!-- End .heading -->

        <div class="products">
            <div class="row justify-content-center">
                @foreach (var item in Model.RecomandProduct)
                {
                    <div class="col-6 col-md-4 col-lg-3">
                        @{
                            string url1 = null;
                            var lisstImg = item.ProductImg.OrderBy(x => x.SortOrder);
                        }
                        @foreach (var img in lisstImg)
                        {
                            if (img != null)
                            {
                                url1 = img.ImagePath;
                                break;
                            }
                        }
                        <div class="product product-2">
                            <figure class="product-media">
                                @if (item.Discount > 0)
                                {
                                    <span class="product-label label-circle label-sale" style="
    font-size: 12px;
">-@item.Discount %</span>
                                }
                                <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">
                                    <img style="
    width: 318px;
    height: 318px;
    object-fit: cover;
" src="@Configuration["BaseAddress"]/user-content/product/@url1" alt="Product image" class="product-image">
                                </a>
                                <div class="product-action">
                                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-ProductId="@item.Id" asp-route-Quantity="1" asp-route-OptionId="@item.Options.FirstOrDefault().id
" class="btn-product btn-cart" title="Add to cart" style="    font-size: 15px;">Thêm vào giỏ hàng</a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">@item.CategoryName</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">@item.ProductName </a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    @{
                                        var price = Convert.ToDouble(item.Options.FirstOrDefault().OptionPrice);
                                    }
                                    @if (item.Discount > 0)
                                    {
                                        var newPrice = price - (price * (@item.Discount / 100));
                                        <span class="new-price">
                                            @String.Format("{0:n0}", newPrice)
                                            VNĐ
                                        </span>
                                        <span class="old-price">@String.Format("{0:n0}", price )VNĐ</span>
                                    }
                                    else
                                    {
                                        <span class="new-price">
                                            @String.Format("{0:n0}", price)
                                            VNĐ
                                        </span>
                                    }
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div>

                        <!-- End .product -->
                    </div>

                    <!-- End .col-sm-6 col-md-4 col-lg-3 -->
                }

            </div><!-- End .row -->
        </div><!-- End .products -->
    </div><!-- End .container -->

    <div class="mb-4"></div><!-- End .mb-4 -->

    <div class="container">
        <hr class="mb-0">
    </div><!-- End .container -->

    <div class="icon-boxes-container bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-rocket"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Miễn phí giao hàng</h3><!-- End .icon-box-title -->
                            <p>Miễn phí giao hàng trong tỉnh</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-rotate-left"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Trả hàng miễn phí</h3><!-- End .icon-box-title -->
                            <p>Hoàn trả trong 7 ngày</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-info-circle"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Nhiều voucher khuyến mãi</h3><!-- End .icon-box-title -->
                            <p>Đăng nhập để theo dõi</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-life-ring"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Hỗ trợ mọi lúc</h3><!-- End .icon-box-title -->
                            <p>Hõ trợ 24/7</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .icon-boxes-container -->
</main><!-- End .main -->