@using BanThietBiDiDongDATN.Application.Catalog.Carts;
@using BanThietBiDiDongDATN.Data.Enums;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model List<CartViewModel>
@{
    ViewData["Title"] = "CheckOutView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    function useVoucher(event) {
        event.preventDefault();
        var formData = {
            voucher: $("input[name='voucherCode']").val(),
        };
        $.ajax({
            url: '/Cart/ApplyVoucher',  // Đường dẫn API hoặc endpoint để xử lý cập nhật số lượng
            type: 'GET',
            data: { voucherCode: formData.voucher },
            success: function (response) {
                if (response.success == true) {
                    var voucherPercent = document.querySelector(".voucher-persent");
                    var voucherPrice = document.querySelector(".voucher-price");
                    var totalCart1 = document.querySelector(".temp-total")
                    var voucherInput = document.querySelector("input[name='voucherId']")
                    // var voucherCode = document.querySelector("");
                    var finalTotal1 = document.querySelector(".final-total")
                    var persent = response.voucher?.discount
                    var price = parseFloat(totalCart1.innerText.replace(/[^0-9]/g, ''))
                    console.log(price)
                    finalTotal1.innerText = VND.format(price - (price * (persent / 100)))
                    console.log(finalTotal1.innerText)
                    voucherPercent.innerText = persent + "%";
                    voucherPrice.innerText = "-" + VND.format(price * (persent / 100));
                    voucherInput.value = formData.voucher
                }
                else {
                    toastr.error(response.mess, "Thất bại", {
                        timeOut: 5e3,
                        closeButton: !0,
                        debug: !1,
                        newestOnTop: !0,
                        progressBar: !0,
                        positionClass: "toast-top-right",
                        preventDuplicates: !0,
                        onclick: null,
                        showDuration: "300",
                        hideDuration: "1000",
                        extendedTimeOut: "1000",
                        showEasing: "swing",
                        hideEasing: "linear",
                        showMethod: "fadeIn",
                        hideMethod: "fadeOut",
                        tapToDismiss: !1,
                    })
                }
            },
            error: function (error) {


            }
        });

    }
</script>
<script>
    window.addEventListener('load', function () {
        FormatPrice();
    });
    const VND = new Intl.NumberFormat('vi-VN', {
        style: 'currency',
        currency: 'VND',
    });
    function FormatPrice() {
        var list = document.querySelectorAll(".format-price")
        console.log(list)
        for (var i = 0; i < list.length; i++) {
            var price = list[i].innerText
            var IntPrice = parseInt(price)
            console.log(IntPrice)
            list[i].innerText = VND.format(IntPrice)
        }
    }
</script>
<main class="main">
    <div class="page-header text-center" style="background-image: url('/clientApp/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Thanh toán<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Cart">Giỏ hàng</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount" style="max-width:400px;">
                    <form id="formVoucher" onsubmit="useVoucher(event)">
                        <div class="input-group">
                            <input type="text" class="form-control" name="voucherCode" style="margin:0;" placeholder="Mã giảm giá ...">
                            <div class="ml-3 input-group-append">
                                <button class="btn btn-outline-primary-2" style="min-width:unset" type="submit"><i class="icon-long-arrow-right"></i></button>
                            </div><!-- .End .input-group-append -->
                        </div><!-- End .input-group -->
                    </form>
                </div><!-- End .checkout-discount -->
                <form asp-action="CheckOut" asp-controller="Cart" method="post">
                    <div class="row">
                        <div class="col-lg-7">
                            <h2 class="checkout-title">Thông tin thanh toán</h2><!-- End .checkout-title -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Người nhận *</label>
                                    <input type="text" name="ShipName" class="form-control" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <label>Địa chỉ *</label>
                            <input type="text" name="ShipAddress" class="form-control">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Số điện thoại *</label>
                                    <input type="text" name="ShipNumberPhone" class="form-control" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Email *</label>
                                    <input type="text" name="ShipEmail" class="form-control" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <label>Ghi chú</label>
                            <input type="hidden" name="typeOrder" value="CustomerCreate" />
                            <input type="hidden" name="voucherId" value="" />
                            <input type="hidden" name="status" value="0" />
                            <textarea class="form-control" name="ShipDescription" cols="30" rows="4" value="Nhập ghi chú" placeholder="Nhập ghi chú"></textarea>
                            <label>Phương thức thanh toán</label>
                            <select name="typePayment" class="form-control" >
                                @foreach (var status in Enum.GetValues(typeof(TypeCheckOut)))
                                {
                                    <option value="@status">@EnumExtensions.GetEnumMemberValue((TypeCheckOut)status)</option>
                                }
                                @* <option value="COD">COD</option>
                                <option value="Online">Online</option> *@
                            </select>
                         
                        </div><!-- End .col-lg-9 -->
                        @{
                            double total = 0;
                        }
                        <aside class="col-lg-4">
                            <div class="summary">
                                <h3 class="summary-title">Đơn hàng của bạn</h3><!-- End .summary-title -->
                                <table class="table table-summary">
                                    @*  <thead>
                                    <tr>
                                    <th>Sản phẩm</th>
                                    <th>Tổng tiền</th>
                                    </tr>
                                    </thead> *@
                                    <tbody>
                                        <div class="order">
                                            @if (Model != null)
                                            {
                                                @foreach (var item in Model)
                                                {

                                                    <div class="order-intro">
                                                        <div class="row align-items-center">
                                                            <div class="col-3"><img src="@Configuration["BaseAddress"]/user-content/product/@item.ImgUrl" alt=""></div>
                                                            <div class="col-9"><strong>@item.ProductNane</strong> </div>
                                                        </div>
                                                    </div>
                                                    <div class="price">
                                                        <div class="row">
                                                            <div class="col-4">Giá:</div>
                                                            <div class="col-8 text-end format-price">@item.ProductOriginal </div>
                                                        </div>
                                                    </div>
                                                    <div class="soluong" style="margin:0;height:25px !important;">
                                                        <div class="row">
                                                            <div class="col-4">Số lượng:</div>
                                                            <div class="col-8 text-end">@item.Quantity</div>
                                                        </div>
                                                    </div>
                                                    <div class="discount">
                                                        <div class="row">
                                                            <div class="col-4">Khuyến mại:</div>
                                                            <div class="col-8 text-end format-price">
                                                                @{

                                                                    var price = item.ProductOriginal - item.ProductPrice;
                                                                }
                                                                @price
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tamtinh">
                                                        <div class="row">
                                                            <div class="col-4">Tạm tính:</div>
                                                            <div class="col-8 text-end order-price format-price">@item.totalPrice </div>
                                                        </div>
                                                    </div>
                                                    string price1 = item.totalPrice.Split(".")[0];
                                                    total += Convert.ToDouble(price1);
                                                }
                                            }


                                        </div>

                                        <tr class="summary-subtotal">
                                            <td>Tạm tính:</td>
                                            <td class="temp-total format-price"> @total</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            <td>Giảm giá:</td>
                                            <td class="voucher-persent">0</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            <td>Giảm giá:</td>
                                            <td class="voucher-price format-price">0</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr class="summary-total">
                                            <td>Tổng tiền:</td>
                                            <td class="final-total format-price">@total </td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->


                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Thanh toán</span>
                                    <span class="btn-hover-text">Thanh toán</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->